@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-xxl-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <h6>Altunkaya Şirketler Grubu</h6>

    <p class="lead">
        Altunkaya merkezi Gaziantep’te bulunan ve birçok alanda faaliyet gösteren dev bir işletmedir.
        Gıda sektöründen içecek sektörüne, sağlık ve temizlik sektöründen tarım ve hayvancılık sektörüne kadar birçok alanda Türkiye’yi dış pazarlarda temsil etmektedir.
    </p>
    <p></p>
    <p class="lead">İki bine yakın çalışanı olan Altunkaya Şirketler Grubu 1980 yılından beri Türkiye’ye değer katmakta ve sürekli büyüyüp gelişmektedir.</p>
    <p></p>

</div>
<section class ="sektorler .headline">
    <h2>Sektörler</h2>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
        <div class="card-header">GIDA</div>
        <div class="card-body">
            @*<h4 class="card-title">Info card title</h4>*@
            <p class="card-text">
                Altunkaya Şirketler Grubu gıda sektöründe kalite ve güven misyonu ile sunduğu 2000’e yakın ürün ile gıda sektöründeki Mahmood Tea, Mahmood Coffee, Mahmood Rice, Altunsa markalarıyla dünya pazarlarına açılmıştır.
                Türkiye’nin hedeflerine uygun hedeflerle ilerleyen bir şirket olmaktan gurur duyan Altunkaya, gıda sektöründeki dev markası Altunsa ile tüm mutfak ihtiyaçlarını karşılayacak düzeydeki 1000’den fazla ürün çeşidini, Ortadoğu başta olmak üzere 40’dan fazla ülkeye ihraç etmektedir.
                Her geçen gün pazar payını ve ihraç ettiği ülke sayısını artıran Altunkaya Şirketler Grubu, uluslararası ve lider bir Türk gıda-içecek şirketi olarak tanınmayı ilke edinerek ülke ekonomisine katkı sağlamaktadır.
            </p>
            <p class="card-text">Gıda ve içecek alanlarına önemli yatırımlar yapan Altunkaya Şirketler Grubu’nun 2005 yılında faaliyete başlayan tesisi Altunsa Gıda, toz içecek üretimi ile başlayıp ürün gamını, kahve ürünlerine kadar genişletmiştir. Ortadoğu ülkelerinin en büyük markalarından olan Mahmood Coffee, Altunsa Gıda tarafından üretilmekte ve sınıfının en iyi hizmetini sağlayıp müşterilerle güçlü ortaklıklar kurmaktadır.

            </p>
            <p class="card-text">
                Gıda sektöründe hızla büyüyen Altunkaya, Altunsa markalı ürünleriyle ulusal ve uluslararası normlara uygun kaliteli ve güvenli gıdalar üreterek müşterilerinin memnuniyetini sağlamakta ve ihracat pazarında Türkiye’nin ismini gururla taşımaktadır.
            </p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">HİJYEN</div>
    <div class="card-body">
    <p>Hijyen sektöründe Dünya’nın önde gelen şirketleri arasında yer alan Lidersan Sağlık, bebek Bezi, hijyenik ped, yetişkin bezi, ıslak mendil ve biosidal kategorilerinde üretim yapmaktadır.</p>
        <p></p>
        <p>Bebek Bezi sektöründe son teknoloji makine ve ekipmanlarla donatılmış 100.000m2 entegre üretim tesisleri ve sürekli yenilenen yatırımları ile Lidersan, kapasite ve teknolojik olarak Türkiye’nin en büyük ilk üç üretim tesisi arasında yer almaktadır. Tüm ürünler, Sağlık bakanlığı tarafından akredite olmuş, dünya standartlarına uygun modern laboratuvarında tüm test ve kalite aşamaları ve kontrollerine tabi tutulduktan sonra el değmeden paketlenerek tüketicilerin beğenisine sunulmaktadır. Yüksek ve gelişmiş teknoloji ile Dünya standartlarında en kaliteli ürünleri ulaşılabilir bir fiyat ile tüm Dünya’daki anne ve bebekler ile buluşturma misyonu ile 5 Kıtada 60’dan fazla ülkede faaliyet gösteren CONFY, 30 yılı aşkın tecrübesi ve güçlü ekibi ile Dünya’nın en büyük perakende devleri ile iş birliği yaparak faaliyet gösterdiği her pazarda tüketiciler tarafından kabul görmekte ve Dünya markalarıyla rekabet eden global bir marka olma yolunda hızla ilerlemektedir.</p>
        <p></p>
        <p>Dünya standartlarındaki teknolojisi ile ürettiği CONFY ADULT ile Yetişkin bezi kategorisinde Dünya’da bir ilk olan inovatif ürünlerinin yanında CONFY LADY ile hijyenik ped kategorisinde sadece CONFY markasına patentli özel ürünler ile tüm Dünya’da tüketiciler tarafından kabul görmektedir. </p>
        <p></p>
        <p>Islak mendil ve biosidal ürün kategorilerinde özel ve benzersiz ürünleri ile CONFY, girdiği tüm pazarlarda tüketiciler tarafından tercih edilen marka olmayı başarmıştır.</p>
        </div>
        </div>

    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">AMBALAJ</div>
    <div class="card-body">
        <p>Öncelikli olarak Lidersan Sağlık firmasının çocuk bezi, yetişkin hasta bezi, hijyenik ped ve ıslak havlu ürünlerinin üretiminde sarf etmiş olduğu hijyen bileşenleriyle tekstil backsheet, baskılı vicketer çocuk bezi dış torbası, bundle film, polybacksheet, elastik backeras, yan bant, single wrap vb. ürünlerinin üretilmesi amacıyla Lidersan Ambalaj, 2015 yılı sonunda Altunkaya Şirketler Grubu organik bağıyla faaliyetlerine başlamıştır.</p>
        <p></p>
        <p>25.000 m² kapalı alanda flekso baskı ve PE film ekstrüzyon üretimi ile esnek ambalaj sektöründe faaliyetlerine başlamıştır. Takip eden yıllarda 5S ve TPM yalın üretim tekniklerini hayata geçirip, Bilim ve Teknoloji Bakanlığından AR-GE merkezi statüsü kazanan Türkiye’deki 4 ambalaj firması olduk. 2019 yılında PE film ekstrüzyon prosesine yapılan yatırımlarla 1500 ton/ay üretime ulaşmıştır. 2020 yılında kapalı üretim alanını 50.000m²’ye çıkararak 2021 yılında Rotogravür Baskı Tesisi’ni devreye almıştır. 2021 yılı itibari ile Evoh/PA/PP Yapılı Bariyer film, PE film ekstrüzyon, flekso baskı/rotogravür baskı solventli/solventsiz laminasyon, dilme, lazer perforasyon, doypack torba ve flat bottom, konfeksiyon prosesleri ile tam entegre bir tesis haline gelmiştir.</p>
        <p></p>
        <p>Altunkaya Şirketler Grubu’nun misyon ve vizyonu paralelinde gerçekleştirmiş olduğu yüksek ihracat değerlerinin yanında birçoğunun yurtdışından temin edildiği bu ürün gurubunun üretilmesiyle yenilikçi bir anlayış, ülkenin cari açığını kapatma gayesiyle daha da anlam kazanmıştır.</p>
        <p></p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">HAYVANCILIK</div>
    <div class="card-body">
        <p>Kurulduğu günden bu yana, faaliyet gösterdiği alanlarda en iyiye ulaşarak, “her işte kalite” ilkesine süreklilik kazandıran Altunkaya Grubu; 2012 yılında, Gaziantep’ in Oğuzeli ilçesi Beşdeli Köyü’nde hayvancılık işletmesi yatırımıyla, bölgeye toplam 600 dekar alan üzerine yayılmış Lidersan Süt ve Besi İşletmesini kazandırdı.</p>
        <p></p>
        <p>Lidersan Süt İşletmesi, en son teknolojilerle geliştirilmiş bir tarım, damızlık, süt ve besi hayvancılığı tesisi inşa etmek ve işletmek amacı ile kurulmuş, 3120 si sağmal olmak üzere 3500 inek ve 5000 baş buzağı, düve ve besi grubu ile birlikte, toplam 8500 baş hayvan varlığıyla, çiğ süt üretimi ve damızlık düve yetiştiriciliği yapmaktadır. İşletmede, 2022 yılı itibariyle yıllık 38.000 ton çiğ süt üretimi gerçekleştirilmekte olup, 2025 yılı sonuna kadar yıllık 45.000 ton çiğ süt üretimine ulaşılması hedeflenmektedir.</p>
        <p></p>
        <p>Kuruluş aşamasında alımı gerçekleştirilen bütün damızlık büyük baş hayvanlar, Almanya ve Amerika’dan ithal edilmiş olup tamamı holstein ırkıdır.</p>
        <p></p>
        <p>şletmemiz, aynı alan üzerinde kurulu, Türkiye’nin en büyük tüberküloz ve bruselloz hastalıklarından ari ve AB onaylı süt üretim işletmelerinden birisi konumundadır.</p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">TARIM</div>
    <div class="card-body">
        <p>Lidersan Tarım 2010 yılından beri Şanlıurfa’da kurulu 100,000 m2’lik modern cam serasında salkım domates üretimi yapmaktadır, GLOBAL GAP ve İyi Tarım uygulamaları belgelerine sahip tesis, sahip olduğu modern teknolojisi ile çevre ve insan sağlığından ödün vermeden ürettiği %100 doğal ve taze ürünleri hem dış hem de iç piyasaya sunmaktadır.</p>
        <p></p>
        <p>Tesisimiz ısı enerjisi kaynağı olarak doğal jeotermal kaynak kullanmakta olup, çevresine sıfır atık yaratan bir tesistir. Ürünlerimiz bilgisayar kontrollü ortamda üretilmekte olup, doğala en yakın lezzet ve kalite standardındadır. Kontrollü ortam sayesinde ürünlerimiz ilaç kalıntısı, zararlı etkilerinden ari olup, tüm uluslararası gıda standartlarına uygundur.</p>
        <p></p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">TEKSTİL</div>
    <div class="card-body">
        <p>Lidersan Nonwoven, merkezi Gaziantep’te bulunan ve globalde birçok alanda faaliyet gösteren aynı zamanda yatırımları artarak devam eden Altunkaya Şirketler Grubu’nun tekstil sektöründeki ilk yatırımıdır. Bu global oluşumda sektöründe öncü olma hedefiyle yola çıkan Lidersan Nonwoven insana saygıyı ve kaliteyi ilke edinerek çalışmalarına hızla devam etmektedir.</p>
        <p></p>
        <p>50000 m2 açık alana sahip olan Lidersan Nonwoven yatırımlarını her geçen gün artırarak ülkemizin uzun vadede ekonomik kalkınmasına ve istihdam oranındaki artışına katkıda bulunmaktadır. Ürünlerimizi ağırlıklı olarak bebek bezi ve ambalajda kullanmakta olduğumuzun bilinciyle hijyenik ve sağlıklı üretimi kendimize ilke edinerek diğer grup şirketlerimizde olduğu gibi bu alanda da Lidersan Nonwoven olarak sektöründe lider konuma doğru hızlı adımlarla ilerlemekteyiz.</p>
        <p></p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">DIŞ TİCARET</div>
    <div class="card-body">
        <p>Dış ticaret anlamında sınırlarını genişleten Altunkaya Group, ticaret zincirini sağlamlaştırmayı ve uzun soluklu çalışmalar yapmayı hedeflemektedir.</p>
        <p></p>
        <p>Kendi bünyesi dışındaki markalar dışında Türkiye markalarını Irak başta olmak üzere birçok ülkeye distribütörlük kanalı ile ihracat yapan şirket kendi lojistiği ile kara yolu üzerinden dağıtım yapmaktadır.</p>
        <p></p>
        <p>Gıda ürünleri dışında Irak inşaat sektörü için demir profil, sanayi borusu, köşebent demir, sac gibi gerekli tüm demir ve türevlerinin de ihracatı yapılmaktadır.</p>
        <p></p>
        <p>Altunkaya Group, sağlıklı ve sürdürülebilir bir gelişme için, global kalite ve standartlarda hizmetler sunarak, tedarikçilerinin, çalışanlarının, ulusal ve uluslararası müşterilerinin beklentilerini en yüksek düzeyde karşılamayı amaçlamaktadır.</p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">LOJİSTİK</div>
    <div class="card-body">
        <p>Altunkaya İnşaat Nakliyat Gıda Tic. A.Ş 1994’ten itibaren C2 yetki belgesiyle ve frigorifik tenteli araçlarıyla yaş sebze, meyve, paletli – kolili yük taşımacılığı ve proje yükleriyle ithalat ve ihracat firmalarına hizmet vermektedir. Bunun yanı sıra lojistik HDI CMR sigortası kapsamında da taşıma yapmaktadır.</p>
        <p></p>
        <p>Türk firmalarının Irak pazarlarına açılmasında üzerine düşen sorumluluğun bilincinde, Irak’ın bütün önemli merkezlerini kapsayan nakliyat ağıyla Altunkaya İnş. Nak. Gıda Tic. A.Ş., tüm müşterilerine en hızlı, en ekonomik ve en güvenilir hizmeti sunmanın gayreti içindedir. Altunkaya Nakliyat, kanıtladığı kalite anlayışını, en alt kademeden en üst kademeye kadar bütün çalışanlarının paylaştığı ortak bir şirket kültürü olarak geleceğe taşımayı hedeflemektedir.</p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">ENERJİ</div>
    <div class="card-body">
        <p>Kaliteli ürün ve hizmet anlayışını öne çıkarıp, rekabetçi piyasada sektörün en iyileri arasındaki varlığını sürdürmekte olan Altunkaya Group Akaryakıt İstasyonları Gaziantep’te faaliyetlerini sürdürmektedir.</p>
        <p></p>
        <p>Sırasıyla 2012 yılında faaliyete başlayan Akaryakıt İstasyonları, şirket profilini yükselterek Türkiye’de örnek gösterilen şirketlerden biri olarak üstlendiği görevi yerine getirebilmek için, dinamik bir ekip çalışması ile sürekli aktif, yoğun rekabete hazır ve müşterilerinin beklentilerini karşılamaya yönelik hizmetler sunmaktadır.</p>
        <p></p>
        <p>Altunkaya Group, müşteri odaklı yaklaşımı ve yüksek hizmet kalitesi ile Akaryakıt İşletmeciliği Sektöründe öncü bir rol üstlenilmiştir.</p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">İNŞAAT</div>
    <div class="card-body">
        <p>Altunkaya Şirketler Grubu’na bağlı Sevin Yapı İnşaat 2020 yılında insanı merkeze alan bir anlayış ile Gaziantep’te kuruldu. Kaliteyi, güveni, estetiği bir çatı altında toplamayı ilke edinen firma birbirinden özel projelere imza atma amacını gütmektedir. Çevreye duyarlı, sosyal donatıları yüksek, kullanışlı projeler sunma vizyonuyla, içinde huzurla yaşanılacak mekanlar yapma amacıyla çalışmalarını sürdürmektedir.</p>
        <p></p>
        <p>Gücünü müşterilerin memnuniyetinden alan Sevin Yapı her proje için dinamik bir teknik ekip oluşturur ve geleneksel inşaat teknikleri yanında yenilikçi bir yaklaşımla müşterilerinin ve iş ortaklarının beklentilerini en iyi şekilde karşılamaya çalışır. İyi iletişim güven, yetişmiş teknik ekip ve finansal dayanıklılık şirketin iş ortakları ve müşterileri ile olan ilişkilerini sağlam bir zemine oturtmuştur.</p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">e-TİCARET</div>
    <div class="card-body">
        <p>2020 yılında Altunkaya Şirketler Grubu çatısı altında çalışmalarına başlayan sonsepet.com; süpermarket, kozmetik ve kişisel bakım, ev bakım ve temizlik, anne ve bebek bakım gibi çeşitli kategorilerde çok sayıda ürünü müşterilerine sunmaktadır.</p>
         <p></p>
        <p>Altunkaya Şirketler Grubu’nun geleneksel ticaretteki tecrübesi ve vizyonunu e-ticarete yansıtarak müşteri ve iş ortaklarına yenilikçi hizmetler sunma hedefiyle yatırımlarına devam etmektedir. Sonsepet.com e-ticaret sitesi, kullanıcı dostu ve güvenli e-ticaret alt yapısı ile müşterilerinin alışverişlerini günün her saatinde kolayca gerçekleştirilerek siparişler güvenle oluşturabilecek şekilde tasarlanmıştır.</p>
    </div>
    </div>
    <div class="card text-white bg-info mb-3" style="max-width: 120rem;">
    <div class="card-header">OTOMOTİV</div>
    <div class="card-body">
        <p>2017 yılında Altunkaya Grubu’nun ilk otomotiv girişimi olarak kurulan LO&GO Filo Car Rentals; “Uzun dönem araç kiralama şirketi” olarak faaliyet göstermektedir.</p>
        <p></p>
        <p>Yaygın hizmet ağıyla fark yaratan LO&GO; kurulduğu günden bugüne yüksek kalite standartları, güçlü finansal yapısı, sektör deneyimi, teknolojik altyapısı, müşteri odaklı hizmet anlayışı ve istikrarlı büyüme ilkelerini benimsemiş olarak yoluna devam etmektedir.</p>
        <p></p>
        <p>Altunkaya Şirketler Grubu’nun otomotiv sektöründeki bu girişimi, tıpkı diğer sektörlerde olduğu gibi hizmet verilen tüm müşterilere ulaşılabilir uzaklıkta olmak ve onların ihtiyaçlarını dinleyerek en uygun ürün veya ürünleri sunabilmek amaçlıdır.</p>
        <p></p>
        <p>Değişen müşteri profili ve ihtiyaçları Lo&Go’yu bireysel ihtiyaçlardan kurumsal ihtiyaçlara kadar “Mobilite” ihtiyacı olan tüm paydaşlara hizmet verme noktasına taşımaktadır. LO&GO marka yatırımlarını tüm Türkiye’ye yaymış ve aynı kalitede hizmeti tüm müşteri gruplarına sunabilmek adına hızlandırmıştır. Bu bağlamda hem yetkili hem de özel servislerle yapılmış olan anlaşmalar neticesinde kullanıcılarına ülke genelinde 7/24 hizmet vermektedir.</p>
        <p></p>
        <p>Lo&Go Filo Car Rentals olarak hedefimiz Mobilite Değer Zincirinin her noktasında hizmet vermektir.</p>
    </div>
    </div>
    </ul>
</section>
